@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide all scrollbars */
::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

*::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}


.blur-button {
    position: relative;
}

.blur-button:after {
    content: '';
    border-radius: 9999px;
    position: absolute;
    top: 0px;
    bottom: -2px;
    left: 0px;
    right: 0px;
    pointer-events: none;
    border: solid #575A7240 2px;
    filter: blur(3px);
    box-shadow: 0px 1.1px 1px 0px #575A7240;
}

.progress-ring__circle {
    transition: strokeDashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.bg-clip-text {
    /* background: linear-gradient(0deg, hsla(274, 100%, 45%, 1) 48%, hsla(270, 99%, 59%, 1) 55%);
    background: hsla(274, 100%, 45%, 1);

    background: linear-gradient(0deg, hsla(274, 100%, 45%, 1) 48%, hsla(270, 99%, 59%, 1) 55%);

    background: -moz-linear-gradient(0deg, hsla(274, 100%, 45%, 1) 48%, hsla(270, 99%, 59%, 1) 55%);

    background: -webkit-linear-gradient(0deg, hsla(274, 100%, 45%, 1) 48%, hsla(270, 99%, 59%, 1) 55%);
    background-clip: text; */
}